@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Logout";
}

<div class="text-center">
    <h2>Are you sure you want to log out?</h2>
    <div class="d-flex justify-content-center mt-3">
        <form class="mx-2" asp-action="LogoutConfirmed" method="post">
            <button type="submit" class="btn btn-danger rounded-pill px-3">Logout</button>
        </form>
        <form class="mx-2" asp-controller="Ad" asp-action="ListAds" method="get">
            <button type="submit" class="btn btn-secondary rounded-pill px-3">Cancel</button>
        </form>
    </div>
</div>