body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.chat-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-container {
    overflow-y: auto;
    max-height: 750px;
}

.message {
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.message.sent {
    background-color: #e6f2ff;
}

.message.received {
    background-color: #f2f2f2;
}

.message-header {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.input-group {
    margin-top: 20px;
}

#message {
    border-radius: 20px;
}

.btn-primary {
    border-radius: 20px;
}